* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#home_page .container-fluid {
  width: 90%;
}
#home_page .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
#home_page .navbar-brand {
  color: #1b685b;
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
}
#home_page .nav-ul {
  border-radius: 50px;
  width: 85%;
  background-color: #1b685b;
  padding: 8px 15px;
}

#home_page .container {
  width: 90%;
}
#home_page .nav-text {
  color: #ffffff;
}
#home_page .nav-bg {
  background-color: #ffffff !important;
}
#home_page .btn-outline-success {
  background-color: #ffac00;
  border: none;
  color: white;
  border-radius: 50px;
  padding: 0px 15px;
  min-height: 45px;
  font-family: "Poppins", sans-serif;
}
#home_page .serch_icon {
  background-color: #ffac00;
  padding: 20px;
  border-radius: 50%;
  color: #ffffff;
  max-width: 60px;
  font-size: 20px;
}
#home_page .cart_icon {
  background-color: #19685b;
  padding: 20px;
  border-radius: 50%;
  color: #ffffff;
  max-width: 60px;
  font-size: 20px;
}
#home_page .fa-heart {
  color: #ffac00;
}
#home_page .carousel-caption h1 {
  color: #211f1f;
  font-family: "Fredoka", sans-serif;
  font-weight: 800;
  font-size: 90px;
  width: 50%;
}
#home_page .carousel-caption p {
  color: #211f1f;
  width: 42%;
  font-family: "Poppins", sans-serif;
  padding: 15px 0px;
  font-size: 20px;
}
#home_page .donat-button .btn-primary {
  padding: 16px 27px;
  font-family: "Poppins", sans-serif;
  background-color: #1b685b;
  border: none;
  border-radius: 50px;
}
#home_page .carousel-caption {
  /* top: 25%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left; */
}
#home_page .carousel-caption em {
  color: #1b685b;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 700;
  font-size: 22px;
}
/* about-more-area */
.about-more {
  padding: 90px 15px;
}
.about-more .img-po {
  position: relative;
}
#home_page .about-more .ab1 {
  max-height: 500px;
  width: auto;
  object-fit: cover;
  border-radius: 25px;
}
#home_page .about-more .ab2 {
  position: absolute;
  top: 33px;
  left: 48%;
  max-width: 300px;
  height: auto;
  border-radius: 25px;
}
#home_page .about-more .ab3 {
  position: absolute;
  max-width: 360px;
  height: auto;
  bottom: -55px;
  border-radius: 25px;
  right: 43px;
}
.about-more .ab-text em {
  font-family: "Pacifico", cursive;
  color: #ffab00;
  font-size: 20px;
}
.about-more .ab-text h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 15px 0px;
}
.about-more .ab-text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px 0px;
}
.about-more .ab-text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* .ab-services-area */
.ab-services {
  padding-top: 130px;
}
.ab-services h2 {
  font-size: 60px;
  font-family: "Fredoka", sans-serif;
  color: #1b685b;
}
.ab-services .ab-col {
  color: #ffab00;
}
.stat-box {
  position: relative;
}
.stat-box::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 23%;
  width: 4px;
  height: 80px;
  background: #ddd;
}
/* humanist-service-area */
.humanist-service .hs-bg {
  background-image: url(img/hs.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  text-align: center;
  padding: 90px 15px;
  border-radius: 50px;
}
.humanist-service em {
  font-family: "Pacifico", cursive;
  color: #ffab00;
  font-size: 22px;
}
.humanist-service h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0px;
  width: 40%;
  margin: 0px auto;
}
.hs-card .hs-btn {
  border-radius: 50px;
  background-color: #ffab00;
  border: none;
  padding: 10px;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
}
.hs-card .card-body h5 {
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
}
.hs-card {
  margin-top: 50px;
}
.hs-card img {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}
.donat-text em {
  font-family: "Pacifico", cursive;
  color: #ffab00;
  font-size: 20px;
}
.donat-text h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0px;
  color: #ffffff;
}
.donat-text #dt-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px 0px;
  color: #ffffff;
}
.donat-text .card-body h5 {
  font-family: "Fredoka", sans-serif;
  font-size: 23px;
}
.donat-text .card-body p {
  font-family: "Poppins", sans-serif;
}
.donat-text .card {
  max-width: 650px;
  border-radius: 30px;
}
.form-range::-webkit-slider-thumb {
  background-color: #ffab00 !important;
}
.hs-card .card {
  width: 23rem;
  padding: 15px;
  border-radius: 40px;
  border: none;
}
.hs-card .card:hover {
  box-shadow: 12px 12px 2px 1px rgba(159, 159, 164, 0.2);
  animation: pulse 1s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
.donat-text .donate-sub-text {
  display: flex;
  justify-content: space-between;
}
.donate-sub-text h6 {
  color: #ffab00;
}
.donat-text {
  background: #122e29;
}
.donat-video-area {
  padding: 100px 0px;
}
.donat-video video {
  height: 800px;
  object-fit: cover;
  margin-left: 4pc;
}
/* volunteer-area */
.volunteer {
  background: #f8f8f8;
}

.team-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-bottom: 5px solid orange;
}

.plus-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: #0d7b68;
  color: white;
  font-size: 28px;
}
.team-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: 5px solid orange;
}
